* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

@each $dir in right, left {
	.float-#{$dir} {
		float: $dir;
	}
}

.hidden {
	display: none;
}

body {
	// background: #f6f6f6;
	background: #fafafa;

	padding: $navbarHeight 0 0 0;
}

.embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1rem;

	&__elem {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__caption {

	}
}

.content {
	padding-top: 1rem;
	@include breakpoint(medium) {
		width: 90%;
		@include outer-container(90%);
	}
	@include breakpoint(large) {
		transition: 300ms ease all;
	}

	.site-canvas--active & {
		@include breakpoint(medium) {
			// @include outer-container(80%);
		}
		@include breakpoint(large) {
			// padding-left: 0;
			// transform: translateX($sidebar-width);
			// transform: translate3d($sidebar-width, 0, 0);
		}
	}
}

.icon {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
//	border-radius: 100%;
	color: rgba(0,0,0,0);
	&--twitter {
		background: #00aced;
	}
}

.icon-p {
	// display: block;
	// width: 2.5rem;
	// height: 2.5rem;
	// color: rgba(0,0,0,0);
	&:before {
		content: 'i';
		display: block;
		float: left;
		height: 1.3rem;
		width: 1.3rem;
		margin: .2rem .3rem 0 0;
		border-radius: 100%;
		background: currentColor;
	}
	&--twitter {
		&:before {
			color: #00aced;
		}
	}
}

.anchor-offset {
	display: block;
	position: relative;
	top: -5rem;
	visibility: hidden;
}

.page-404 {
	&__header {
		text-align: center;
		font-size: 5rem;
	}
}
