.commentdiv {
    margin-top: 1rem;
    padding-top: 0.5rem;
    height:150px;
    width: 100%;
    background-color: #D2232A;
    z-index: -1;
    h1 {
        color: white;
        font-size: 1.7em;
    }
    h2 {
        color: white;
    }
}
