.commentdiv {
    @include breakpoint(medium) {
        padding-left: 2em;
	}

	@include breakpoint(large) {
        padding-left: 8em;
    }
    margin-top: 1rem;
    padding-top: 0.5rem;
    height:150px;
    width: 100%;
    background-color: #D2232A;
    z-index: -1;
    h1 {
        color: white;
        font-size: 1.7em;
        a {
            color: black;
            background-color: white
        }
        a:hover {
            color: #D2232A;
        }
    }
    h2 {
        color: white;
    }
}
