.navbar {
	@include row;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $navbarHeight;
	background: white;
	font-weight: bold;
	border-bottom: 1px solid #dedede;
	@include z-index(navbar);

	&__left,
	&__right {
		@include span-columns(3);
        padding: 10px;
        font-size: 1em;
        @include breakpoint(medium) {
            font-size: 1.8em;
        }
	}

    &__left {
        padding: 10px;
        font-size: 1em;
        @include breakpoint(medium) {
            font-size: 1.8em;
        }
        :hover {
            color: $ls-red;
        }
    }

	&__logo {
		@include span-columns(6);
        img {
            display: block;
            width: 100%;
            max-width: 14rem;
            margin: 0 auto;
            padding-top: .7rem;
            @include breakpoint(medium) {
                padding-top: .5rem;
            }
        }
	}

	&__right {
		text-align: right;
        margin-top: 5px;
	}

	a {
		color: #333;
		text-decoration: none;
	}
}

.site-wrapper {
	@include breakpoint(small) {
		position: relative;
		overflow-x: hidden;
	}
	width: 100%;
}

.site-canvas {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	transition: 300ms ease all;
	@include breakpoint(large) {
		position: static;
		transform: none;
		display: flex;
	}

	&--active {
		transform: translateX($sidebar-width);
		transform: translate3d($sidebar-width, 0, 0);
		@include breakpoint(large) {
			transform: translateX(-$sidebar-width);
			transform: translate3d(-$sidebar-width, 0, 0);
		}
	}
}

// Offcanvas until large
.offcanvas {
	width: $sidebar-width;
	left: -$sidebar-width;
	height: 100vh;
	position: absolute;
	top: 0;
	padding-top: 4rem;
	background: white;
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
	overflow-y: scroll;
	@include breakpoint(large) {
		left: 0;
		position: fixed;
		flex: 0 0 15%;
	}
}

.sidebar__feed {
	&__item {
		// border: 1px solid red;
		padding: .8rem .5rem;
		font-size: 0.9em;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}

	&__link {
		color: inherit;
	}

	&__date {
		display: block;
		color: #888;
		font-size: 0.8em;
	}
}
